footer {

color: red;
font-size: 15px;

}

header	{

font-size: 20px;
color: blue;
font-family: 'Overpass Mono', monospace;
}
a {color: blue;}


a:visited {
color: red;
}


a:hover {
font-weight: bold;
}

a:active {text-decoration: none;}